In [3]:
import pandas as pd

df = pd.read_csv('Heart.csv')

print(df)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for column in df.columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

print(df)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      18    1   0        18    43    0        1       67      0       10
1      19    1   0        28    34    1        0       54      1       29
2      36    1   0        31    12    0        1       25      1       25
3      27    1   0        33    34    0        1       60      0        0
4      28    0   0        27   116    1        1        9      0       18
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   25    1   1        28    52    0        1       63      1        0
1021   26    1   0        18    87    0        0       40      1       26
1022   13    1   0         8   103    0        0       19      1       10
1023   16    0   0         8    83    0        0       58      0        0
1024   20    1   0        14    24    0        1       14      0       14

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [7]:
X = df[['age', 'sex', 'cp', 'chol', 'thalach', 'oldpeak']] 
y = df['target'] 

print(X)
print(y)

      age  sex  cp  chol  thalach  oldpeak
0      18    1   0    43       67       10
1      19    1   0    34       54       29
2      36    1   0    12       25       25
3      27    1   0    34       60        0
4      28    0   0   116        9       18
...   ...  ...  ..   ...      ...      ...
1020   25    1   1    52       63        0
1021   26    1   0    87       40       26
1022   13    1   0   103       19       10
1023   16    0   0    83       58        0
1024   20    1   0    24       14       14

[1025 rows x 6 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

print("jumlah data training = ", X_train.shape)
print("jumlah daa testing = ", X_test.shape)

jumlah data training =  (768, 6)
jumlah daa testing =  (257, 6)

In [11]:
X

      age  sex  cp  chol  thalach  oldpeak
0      18    1   0    43       67       10
1      19    1   0    34       54       29
2      36    1   0    12       25       25
3      27    1   0    34       60        0
4      28    0   0   116        9       18
...   ...  ...  ..   ...      ...      ...
1020   25    1   1    52       63        0
1021   26    1   0    87       40       26
1022   13    1   0   103       19       10
1023   16    0   0    83       58        0
1024   20    1   0    24       14       14

[1025 rows x 6 columns]

In [13]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [15]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

y_pred = lr_model.predict(X_test)

print(f"prediksi pertama : {y_pred[:5]}")

prediksi pertama : [0.81132032 0.9119385  0.23521384 0.76108947 0.45101136]

In [17]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Absolute Error: 0.3244784793913822
Mean Squared Error: 0.15798111959099478
R-squared: 0.36760636558390214

In [19]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import joblib

df = pd.read_csv('heart.csv')  

print(df.info())

X = df.drop(columns=['target'])  
y = df['target'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

y_pred_lr = lr_model.predict(X_test)

print("Mean Squared Error:", mean_squared_error(y_test, y_pred_lr))
print("R^2 Score:", r2_score(y_test, y_pred_lr))

joblib.dump(lr_model, 'models/linear_regression_model.pkl')

loaded_model = joblib.load('models/linear_regression_model.pkl')

new_predictions = loaded_model.predict(X_test)
print("Prediksi dari model yang dimuat:", new_predictions)

results = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_lr})
print(results.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB
None
Mean Squared Error: 0.1461284425849516
R^2 Score: 0.41505227246706244
Prediksi dari model yang dimuat: [ 0.9439327   1.27741444  0.03702861  0.9410318   0.18132433  0.62611243
 -0.05667887 -0.13230254  0.75819267 -0.0109036   0.99002253 -0.22298477
  0.77624361  0.76228497  0.24412137  0.86250478 -0.09520748  0.96717301
  0.69750249 -0.03403763  0.72966213  0.16198362  0.53487129 -0.18071591
  0.72966213  0.6238848   1.0061906   0.55941573 -0.15253215  0.82366555
  0.64394615  0.75344058  0.487744    1.27741444  0.74887915  0.66764632
  0.72966213  0.4900882   0.69439361  0.87007186 -0.13230254  0.17944757
  0.52714603  0.53487129  0.31949291 -0.31577692  0.24633073  0.48716116
  0.59898934  0.51820503  0.60264622 -0.19791862  0.66855539  0.01090465
  1.0061906   0.69439361  0.40153013 -0.09860077  0.79290542  0.91273402
  0.55016748  0.14292176 -0.15253215  0.51820503 -0.17765892  0.37560898
  1.27808728  0.62172868 -0.31577692  1.11243895  0.6317041  -0.15253215
  0.45881598  0.80947192  0.65154103  0.5980692  -0.05667887  0.81164031
  0.56403616  0.76305912  0.33982952  0.38300911  0.15298076 -0.09081728
  0.67783139 -0.18785826  0.99002253  0.30429624  0.33982952  0.82366555
  0.52505926 -0.03403763  0.72684517  0.88407308  0.73328315  0.65071335
  0.62172868  0.31461089 -0.28865611  0.04222914  0.46294207  0.15805384
  0.69455209  0.65743545  0.19981865  0.80267682 -0.09860077  0.65579375
  0.434408    1.01408974  0.79290542  1.01408974  1.07875516  0.2031549
  0.7585768   1.05569155  0.72364899  0.82272917  0.89676507 -0.12523348
  0.53501383  0.64157086 -0.1264854   0.29326329  0.25789843 -0.18071591
  0.69552672  0.55943314  0.6317041   0.83037137  0.75344058 -0.28865611
  1.12290351  0.46294207 -0.03331577  0.90530386  0.25879985  0.64157086
  0.90530386  0.72364899  0.55077278  0.84046705  0.96753518  0.05163534
  0.6717156   0.66222526  0.60264622  0.90034507  0.53242178  0.18250251
  0.487744   -0.31577692  0.61560207  0.55077278  0.33156166  0.23656775
  0.67595453  0.83037137  0.27720718  0.17944757  0.52714603  0.99085064
  0.15805384  0.15805384  0.28296064  0.29285941  0.27285853  0.15065908
  0.20890462  0.90034507  0.45881598  0.63125439  0.84322639 -0.22083565
  0.90666141  1.27741444  0.95789891 -0.45010215  0.69455209  0.94065911
  0.94599074 -0.10928303  0.75855778  0.66855539  0.68138507  0.89676507
  0.74887915  0.79290542  0.61212427  0.94150369  0.97892217  0.56403616
  0.71211254  0.66855539 -0.09860077  0.21961126  0.92010743 -0.05296393
  0.89394197  0.96910265  0.54078882  0.81157707  0.96910265  0.1158588
  0.42850206  0.55063661  0.59660114  1.13228767  0.42708041  0.64157086
  0.81157707  0.20438489  1.12696075  0.52505926  0.23656775  0.26624008
  0.56766659  0.27285853  0.60699066 -0.03331577  0.66655345  0.15298076
  0.04222914  0.92061376  0.75708395  0.69987391  0.82272917  0.72014178
 -0.22298477  0.53501383  0.71211254  0.42246847  0.64457524  0.67595453
  0.18250251 -0.05667887  0.32974147  0.35014337  0.95980599  0.59174832
  0.48414988  0.68921468  1.22525278  0.19133685 -0.08719693  0.65579375
  0.26726361  0.46294207  0.67523211  0.15498052  0.80947192 -0.0109036
  0.41312694 -0.45010215  0.29326329  0.93983949  0.1376802 ]
     Actual  Predicted
527       1   0.943933
359       1   1.277414
447       0   0.037029
31        1   0.941032
621       0   0.181324

In [27]:
from sklearn.linear_model import LinearRegression
import joblib
import numpy as np
import pandas as pd

data = pd.read_csv("heart.csv")  
X = data[['age', 'trestbps', 'chol']]  
y = data['target']  

model = LinearRegression()
model.fit(X, y)

joblib.dump(model, 'models/linear_regression_model_with_3_features.pkl')

print("model berhasil disimpan")

model berhasil disimpan

In [31]:
import joblib
from sklearn.linear_model import LinearRegression

# Contoh data training
import numpy as np
import pandas as pd

# Data dummy untuk ilustrasi
data = pd.DataFrame({
    'age': [20, 30, 40, 50],
    'chol': [150, 200, 250, 300],
    'trestbps': [120, 130, 140, 150],
    'target': [0, 1, 0, 1]
})

# Fitur dan target
X = data[['chol', 'trestbps', 'age']]
y = data['target']

# Training model
model = LinearRegression()
model.fit(X, y)

# Nama fitur yang digunakan
feature_names = X.columns.tolist()

# Simpan model beserta nama fitur
joblib.dump((model, feature_names), 'models/linear_regression_model_with_3_features.pkl')
print("Model dan nama fitur berhasil disimpan!")

Model dan nama fitur berhasil disimpan!